@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: HKGrotesk-Regular;
  src:
    url("../static/fonts/grotesk/HKGrotesk-Regular.woff2") format("woff2"),
    url("../static/fonts/grotesk/HKGrotesk-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: HKGrotesk-Bold;
  src:
    url("../static/fonts/grotesk/HKGrotesk-Bold.woff2") format("woff2"),
    url("../static/fonts/grotesk/HKGrotesk-Bold.woff") format("woff");
  font-display: swap;
}

.font-grotesk-regular {
  font-family: HKGrotesk-Regular, serif;
}

.font-grotesk-bold {
  font-family: HKGrotesk-Bold, serif;
}

.bg-odd-hero {
}

.list-circle {
  list-style-type: circle;
}

.list-square {
  list-style-type: square;
}

.list-decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}

.list-lower-roman {
  list-style-type: lower-roman;
}

.list-upper-roman {
  list-style-type: upper-roman;
}

.list-lower-greek {
  list-style-type: lower-greek;
}

.list-lower-latin {
  list-style-type: lower-latin;
}

.list-upper-latin {
  list-style-type: upper-latin;
}

.list-armenian {
  list-style-type: armenian;
}

.list-georgian {
  list-style-type: georgian;
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}

.list-upper-alpha {
  list-style-type: upper-alpha;
}

#hero-animation {
  width: 100%;
  height: 100%;
  background-color: #4ddfff;
  color: rgba(224, 119, 255, 0.5);
}

.form-2 {
  color: rgba(228, 255, 54, 0.53);
}
